[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "*"
requests = "*"
pytest = "*"
requests-mock = "*"
jsonschema = "*"
django = "*"
mysqlclient = "*"
djangorestframework = "*"
django-environ = "*"
sentry-sdk = "*"
celery = "*"

[requires]
python_version = "3.9"

[scripts]
server = "python manage.py runserver"

[dev-packages]
pytest-django = "*"
flake8 = "*"
isort = "*"
