[[source]]
url = "https://pypi.org/simple"

verify_ssl = true
name = "pypi"

[packages]
behave = "*"
requests = "*"
pytest = "*"
requests-mock = "*"
jsonschema = "*"
django = "*"
mysqlclient = "*"
djangorestframework = "*"
django-environ = "*"
sentry-sdk = "*"
celery = {extras = ["redis"], version = "*"}
environ = "*"
pyhamcrest = "*"
redis = "*"

[requires]
python_version = "3.9"

[scripts]
server = "python manage.py runserver"

[dev-packages]
pytest-django = "*"
flake8 = "*"
isort = "*"
python-dotenv = "*"
pytest-celery = "*"
celery = {extras = ["pytest"], version = "*"}
behave = "*"
install = "*"
mysql-connector-python = "*"